{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col">
        <h1>Upload image </h1>
        <form name="form" action="{{ url_for('client_upload') }}" method="POST" enctype="multipart/form-data">
          <div class="form-group mb-3">
            <div class="input-group input-file">
              <label id="file_label" class="form-control">
                <span id="file_name">Choose a file...'</span>
                {{ form.file(class="input-hidden") }}
              </label>
            </div>
            {% if form.file.errors %}
              <ul>
                {% for error in form.file.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}