{% extends 'layout.html' %}
{% block body %}
<h1 class="dash">Dashboard</h1>
<h2 class="home"><p><small>Welcome {{session.Email }}</small></p></h2>
<html>
<head>
<style>
    body{
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat, repeat;
    }
    .dash
    {
    color:white;
    }
    .home
    {
    color:white;
    }
</style>
</head>
<body>
<h1>My Workspace</h1>

<!--<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Profile</a>
    </li>

</ul>
-->

    <div class="card" style="width: 22rem; float:left; margin:3px">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Orders</h3>
        <p>Dynamic text will be included here in the future once the back end is more mature.</p>
        <a href="#" class="btn btn-primary">View</a>
    </div>

    </div>


    <div class="card" style="width: 22rem; float:right;margin:3px">
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Uploads</h3>
        <p>Dynamic text will be included here in the future once the back end is more mature.</p>
        <a href="#" class="btn btn-primary">View</a>
    </div>



</div>
<br>


</body>
</html>

{% endblock %}